using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;

namespace {[namespace]}.Domain
{
    public class {[class]}ViewModel
    {
        [Key]
        public int {[class]}Id { get; set;}
    }
}
